.pya {
  padding-top: 150px
}
body {
  background-color:
}
.jumbotron{
  background-color: #292929
}

.ht{
  color: #febe19
}
.hy{
  color: #ffa800;
  font-size: 64px
}
.hr{
  color: #543a00
}

.witdh1{
  width: 100%
}
th{
  text-align: center;
}
td{
  text-align: center;
}
.hl{
  margin-left: 1000px
}
hr {
  color: #1c1c1c
}
